<div class="modal-content">
    <div class="modal-header">
        <span class="close-interchange">&#128128;</span>
        <h2 ref="title">&#127756; Modal interchange</h2>
    </div>
    <div class="modal-body">
        <form>
            <select id="selectedNote" ref="selectedNote">
                <option>Choose the root...</option>
            </select>
        </form>
        <br>
        <table class="interchange-table">
            <tr class="interchange-header"></tr>
        </table>
        <br>
        <table class="comparison-table">
            
        </table>
    </div>
</div>