.header-list {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: flex-start;
    border-bottom: 1px solid var(--light-grey);
    background-color: var(--background-color);
    color: var(--font-color);

    .header-title{
        width: 50%;
    }
}

.add-study,
.study-favourite-filter,
.order-by-date,
.order-by-progress {
    transition: 0.5s ease;
    &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
    }
}

.study-tab{
    
}

.add-study {
    margin: 0 0.25rem;
    font-size: 1.5rem;
}

.study-favourite-filter,
.order-by-date,
.order-by-progress {
    /* display: inline-block; */
    margin: 0 0.5rem;
    font-size: 1rem;
}

.filter-text {
    flex: 1;
    display: flex;
    align-items: center;
    input {
        max-width: 100%;
    }
    .search {
        margin: 0 0.5rem;
        align-self: center;
    }
    .search-btn {
        position: relative;
        right: 2.5rem;
    }
}

.theme,
.save,
.import {
    margin-right: 0.5rem;
    transition: 0.5s ease;
    &:hover {
        cursor: pointer;
    }
}

.fretboard-style-theme {
    margin-left: 0.5rem;
}

.default {
    background-color: var(--background-color);
}

.tan {
    background-color: #efd4a5;
}
.tanclassic {
    background-color: #d8ac85; /* #f3e08c; */
}
.orange {
    background-color: #e89b40;
}

.darkgray {
    background-color: #333;
}

.tinteddark {
    background-color: #433;
}

.gildeddark {
    background-color: #381411;
}

.dot {
    border: 1px solid var(--detail);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    display: inline-block;
    cursor: pointer;
    &:hover {
        border: 1px solid var(--secondary-color);
    }
}

.dropdown-menu {
    right: 2rem;
    top: 2.8rem;
    padding: 6px;
}

.selected-theme {
    border-radius: unset;
    border: 1px solid var(--secondary-color);
    font-weight: 700;
}

.study-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    .study-tab {
        width: 25%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid var(--light-grey);
        transition: border 0.25s ease-in;
        &:hover {
            border-color: var(--font-color);
            border-width: 4px;
        }

        .study-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            margin-left: 1rem;
            margin-top: 1rem;
            h2.study-title {
                margin-bottom: 0.6rem;
                color: white;
            }
            h4.study-date {
                color: var(--light-grey);
            }
            margin-bottom: 2rem;

            &:hover {
                cursor: pointer;
            }

            .study-progress {
                margin-right: 1rem;
                color: var(--font-color);
                background-color: rgba(210, 210, 210, 0.4);
                padding: 5px;
                border-radius: 5px;
                font-weight: 700;
            }
        }
    }

    .study-actions {
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(210, 210, 210, 0.4);
        padding: 25px;

        .study-delete-btn,
        .study-favourite-btn {
            margin-left: 8px;
            margin-right: 8px;
            font-weight: 700;
            align-content: center;
            font-size: 18px;
            transition: 0.5s ease;

            &:hover {
                cursor: pointer;
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -ms-transform: scale(1.25);
                -o-transform: scale(1.25);
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .study-tab {
            width: 33.333333%;
        }
    }
    @media screen and (max-width: 1024px) {
        .study-tab {
            width: 50%;
        }
    }
}

.no-items {
    padding: 2rem;
    text-align: center;
    margin: 3rem auto;
}
