<div class="header">
    <div class="header-title">
        <h1>&#127928; Guitar studies <span class="add-study"> &#10133;</span></h1>
    </div>
    <div class="header-actions">
        <span class="theme"> &#127773;</span>
    </div>
</div>

<div class="study-list">
    <!-- mettere search &#128270; -->
</div>

<template>
    <div class="study-tab">
        <div class="study-info">
            <h2 class="study-title" ref="title">Titolo</h2>
            <h4 class="study-date" ref="date">12/04/2020</h4>
        </div>
        <div class="study-actions">
            <span class="study-favourite-btn" ref="favourite"> &#128420; </span> <!-- selezionato &#128150; -->
            <span class="study-delete-btn"> &#128163;</span>
        </div>
    </div>
</template>