<div class="header-list">
    <div class="header-title">
        <h2>&#127928; GUITAR STUDIES</h2>
    </div>
    <span class="add-study"> &#127381;</span>
    <span class="study-favourite-filter"> &#128150; </span>
    <span class="order-by-date"> &#128197; </span>
    <span class="order-by-progress">&#128200; </span>
    <div class="filter-text">
        <input type="text" class="search" ref="search" placeholder="Filter by...">
        <span class="search-btn">&#128270; </span>
    </div>

    <div class="dropdown">
        <div class="dropbtn" style="font-size: 2rem;">&#128207;</div>
        <div class="dropdown-content">
            <span class="save"> &#128190; Save</span>
            <span class="import">&#128229; Import</span>
            <span class="theme"> &#127773; Change theme</span>
            <span style="border-top: 1px solid var(--light-grey);">&#127928; Fretboard style</span>
            <span class="fretboard-style-theme">
                <span class="dot default" data-style="default"></span>
                <span class="dot tan" data-style="tan"></span>
                <span class="dot tanclassic" data-style="tanclassic"></span>
                <span class="dot orange" data-style="orange"></span>
                <span class="dot tinteddark" data-style="tinteddark"></span>
                <span class="dot gildeddark" data-style="gildeddark"></span>
                <span class="dot darkgray" data-style="darkgray"></span>
            </span>

        </div>
    </div>
</div>

<div class="study-list">

</div>

<!-- DOWNLOAD -->
<a id="downloadAnchorElem" style="display:none"></a>

<!-- IMPORT FILE -->
<input id="file-input" type="file" name="name" style="display: none;" />

<template>
    <div class="study-tab">
        <div class="study-info">
            <div>
                <h2 class="study-title" ref="title">Titolo</h2>
                <h4 class="study-date" ref="date">12/04/2020</h4>
            </div>
            <div class="study-progress" ref="progress">23%</div>
        </div>

        <div class="study-actions">
            <span class="study-favourite-btn" ref="favourite"> &#128420; </span> <!-- selezionato &#128150; -->
            <span class="study-delete-btn"> &#128163;</span>
        </div>
    </div>
</template>