.add-study {
    margin-left: 2rem;
    font-size: 1.5rem;
    transition: 0.5s ease;
    &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
    }
}

.theme, .save, .import {
    align-self: center;
    margin-right: 0.5rem;;
    transition: 0.5s ease;
    &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
    }
}

.list-actions{
    display: flex;
}

.study-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

    .study-tab {
        width: 25%;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid var(--light-grey);

        .study-info {
            margin-left: 1rem;
            margin-top: 1rem;
            h2.study-title {
                margin-bottom: 0.6rem;
                color: white;
            }
            h4.study-date {
                color: var(--light-grey);
            }
            margin-bottom: 2rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .study-actions {
        display: flex;
        justify-content: space-evenly;
        background-color: rgba(210, 210, 210, 0.4);
        padding: 25px;

        .study-delete-btn,
        .study-favourite-btn {
            margin-left: 8px;
            margin-right: 8px;
            font-weight: 700;
            align-content: center;
            font-size: 18px;
            transition: 0.5s ease;

            &:hover {
                cursor: pointer;
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -ms-transform: scale(1.25);
                -o-transform: scale(1.25);
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .study-tab {
            width: 33.333333%;
        }
    }
    @media screen and (max-width: 1024px) {
        .study-tab {
            width: 50%;
        }
    }
}
