<div class="progression-list">

</div>

<template>
    <div class="progression-tab">
        <div class="progression-info">
            <div>
                <h2 class="progression-title" ref="titleP">Titolo</h2>
                <h4 class="progression-date" ref="dateP">12/04/2020</h4>
            </div>
        </div>
        <div class="progression-actions">
            <span class="progression-delete-btn"> &#128163;</span>
            <span class="progression-play-btn"> &#128266;</span>
            <span class="progression-stop-btn"> &#128264;</span>
        </div>
    </div>
</template>