<div class="fixed">
    <div class="header">
        <div class="header-title">
            <h2> Title</h2>
            <br>
            <div class="progress">
                <h4>Progress</h4>
                <div class="progress-range">
                    <input type="range" min="0" max="100" value="5" class="slider" id="progress" ref="progress">
                </div>
                <output class="progress-bubble"></output>
            </div>
        </div>
        <div class="header-description">
            <textarea name="description" id="description" rows="3">Description...</textarea>
        </div>

        <div class="header-tags-container hide">
            <ul id="tag-list"></ul>
            <input type="text" id="tag-input" placeholder="Type TAGS and press Enter...">
        </div>

        <div class="header-actions">
            <span id="add-general-btn">&#43;</span>
            <span id="remove-general-btn">&times;</span>
            <span id="tags-general-btn">&#932;</span>
            <span id="back-btn">&laquo;</span>
        </div>

    </div>
</div>

<div class="content">

</div>


<template>
    <div class="fretboard-container">
        <!-- LAYERS -->
        <div class="col-layers">
            <div class="layers-header">
                <h4>Layers</h4>
                <div>
                    <span class="add-btn">&#43;</span>
                    <span class="remove-btn">&times;</span>
                </div>
            </div>

            <ul class="list"></ul>
            <div class="layers-header">
                <h4>Transpose all </h4>
                <div>
                    <span class="transpose-btn"> &rarr; </span>
                </div>
            </div>
            <div class="slidecontainer">
                <input type="range" min="0" max="11" value="0" class="slider" id="intervals" ref="intervals">
                <output class="bubble"></output>
            </div>
        </div>
        <div class="col-output">
            <div class="scale-info">
                <h4 class="scale-title"></h4>
                <div class="scale-table">
                    <table>
                        <tr class="degrees"></tr>
                        <tr class="notes"></tr>
                    </table>
                </div>
                <div class="settings-btn"> o </div>
            </div>
            <!-- FRETBOARD -->
        </div>
        <div class="remove-fret-btn"> &times;</div>
    </div>
</template>


<!-- SLIDER -->
<div id="settings">

</div>

<!-- MODAL -->
<div id="modal">

</div>