.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  z-index: 5;
  background-color: white;
}

.content {
  margin-top: 120px;
}

.fretboard-container {
  display: flex;
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  border-bottom: 1px solid var(--light-grey);

  .remove-fret-btn {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -15px;
    right: -15px;
  }

  .col-layers {
    width: 30%;

    .layers-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      /* border-bottom: 1px solid lightgray; */
    }

    .add-btn,
    .remove-btn {
      margin-left: 8px;
      margin-right: 8px;
      font-weight: 700;
      align-content: center;
      font-size: 18px;
      transition: 0.5s ease;

      &:hover {
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
      }
    }
  }

  .col-output {
    width: 70%;
    display: flex;
    flex-direction: column;

    .info {
      display: none;
      justify-content: space-around;
    }
  }
}

.scale-info {
  min-height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 97%;

  .scale-title {
    margin-left: 30px;
  }

  .scale-info-btn,
  .scale-play-btn {
    margin-left: 12px;
    display: none;
  }

  .scale-table {
    flex: 1;
    /* margin-left: auto; */

    table {
      margin-left: 35%;
    }

    td,
    th {
      // border: 1px solid #ddd;
      padding: 0px 8px;
      text-align: center;
    }
  }
}

.list {
  list-style: none;
  margin-top: 12px;
  height: 136px;
  overflow: auto;

  li.scale {
    padding: 5px;
    display: flex;
  }
}

.layer-label {
  flex: 1;
}

.selected {
  color: var(--secondary-color);
}

.merge-btn,
.edit-btn,
.delete-btn,
.visibility-btn,
.settings-btn {
  align-content: flex-start;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 700;
  transition: 0.5s ease;

  &:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
  }
}

.settings-btn {
  visibility: hidden;
}

.fingering-list {
  display: flex;
  justify-content: space-around;
  height: 32px;
  margin-bottom: 12px;

  .fingering-item {
    padding: 2px 6px;
    background-color: var(--primary-color);
    color: white;
    margin-left: 5px;
    border-radius: 20%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    transition: 0.5s ease;

    &:hover {
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -o-transform: scale(1.25);
    }

    &.selected {
      background-color: orange;
    }
  }
}

.note-info {
  font-weight: 600;
  font-size: 10px;
  color: #4c5151;
}

.disabled {
  color: #b1afaf;
}

.red {
  background-color: rgb(218, 84, 84);
  color: white;
}

.fretboard {
  position: relative;
  left: 24px;

  .tuning,
  .fretnum {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-transform: uppercase;
    color: lightgray;
    font-size: 10px;
  }

  .tuning {
    font-size: 12px;
  }

  .note {
    border-radius: 4px;
  }
}
