<div class="container">
    <!-- LAYERS -->
    <div class="layers">
        <!-- <input id="input" type="text" placeholder="Add scale..."> -->
        <button id="add-btn"> + </button>
        <button id="remove-btn"> x </button>
        <ul id="list"></ul>
    </div>
    <div id="output">
        <div class="scale-info">
            <h3 class="scale-title"></h3>
            <div class="scale-table">
                <table>
                    <tr class="degrees"></tr>
                    <tr class="notes"></tr>
                </table>
            </div>
            <div class="dots"> o </div>
        </div>
        <!-- FRETBOARD -->
    </div>
</div>

<!-- SLIDER -->
<div id="slider">

</div>

<!-- MODAL -->
<div id="modal">

</div>