.fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  z-index: 5;
  background-color: var(--background-color);
}

.content {
  margin-top: 120px;
}

.fretboard-container {
  display: flex;
  padding: 6px 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  border-bottom: 1px solid var(--light-grey);

  .remove-fret-btn {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -5px;
    right: -15px;

    &:hover {
      cursor: pointer;
    }
  }

  .col-layers {
    width: 30%;

    .layers-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      /* border-bottom: 1px solid lightgray; */
    }

    .add-btn,
    .remove-btn,
    .transpose-btn {
      margin-left: 8px;
      margin-right: 8px;
      font-weight: 700;
      align-content: center;
      font-size: 18px;
      transition: 0.5s ease;

      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
      }
    }
  }

  .col-output {
    width: 70%;
    display: flex;
    flex-direction: column;

    .info {
      display: flex;
      visibility: hidden;
      margin-left: 24px;
      justify-content: space-between;

      ul.reduced-list,
      ul.extended-list,
      ul.chords-list {
        list-style: none;
        display: inline-block;
        margin-right: 8px;
        font-size: 10px;
        min-height: 22px;

        li {
          display: inline-block;
          background: var(--primary-color);
          color: white;
          padding: 2px 4px 2px 8px;
          border-radius: 12px;
          margin-right: 4px;
          margin-bottom: 4px;

          span {
            color: white;
            margin-left: 4px;
            background: var(--primary-color);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            display: inline-flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            transition: 0.5s ease;

            &:hover {
              cursor: pointer;
              -webkit-transform: scale(1.25);
              -moz-transform: scale(1.25);
              -ms-transform: scale(1.25);
              -o-transform: scale(1.25);
            }
          }
        }
      }

      .ul.reduced-list {
        margin-left: 24px;
      }
    }
  }

  .col-output-two {
    width: 70%;
    width: 70%;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;

    h4 {
      margin-left: 30px;
    }

    .comparison-table {
      margin-left: 16px;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;

      th,
      td {
        text-align: left;
        padding: 6px 16px;
      }

      .intervals-row {
        font-weight: 700;
      }
      .comparison-header {
      }
      .notes-row {
        /* border-bottom: 1px solid var(--light-grey); */
      }
    }
  }
}

.scale-info {
  min-height: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 97%;

  .scale-title {
    margin-left: 30px;
    width: 20%;
  }

  .scale-table {
    flex: 1;
    /* margin-left: auto; */

    table {
      margin-left: 20%;
    }

    td,
    th {
      // border: 1px solid #ddd;
      padding: 0px 8px;
      text-align: center;
    }
  }
}

.scale-info-btn,
.scale-toggle-btn,
.scale-play-btn,
.note-btn {
  margin-left: 12px;

  &:hover {
    cursor: pointer;
  }
}

.list {
  list-style: none;
  margin-top: 12px;
  height: 136px;
  overflow: auto;

  li.scale {
    padding: 5px;
    display: flex;
  }
}

.layer-label {
  flex: 1;
}

.selected {
  color: var(--secondary-color);
  font-weight: 700;
}

.merge-btn,
.clone-btn,
.edit-btn,
.move-btn,
.delete-btn,
.visibility-btn,
.settings-btn {
  align-content: flex-start;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 400;
  &:hover {
    cursor: pointer;
  }
}

.visibility-btn {
  font-weight: 700;
  transition: 0.5s ease;
  &:hover {
    cursor: pointer;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
  }
}

.settings-btn,
.scale-info-btn,
.scale-toggle-btn,
.scale-play-btn,
.note-btn {
  visibility: hidden;
}

.fingering-list {
  display: flex;
  justify-content: space-around;
  height: 32px;
  margin-bottom: 12px;

  .fingering-item {
    padding: 2px 6px;
    background-color: var(--primary-color);
    color: white;
    margin-left: 5px;
    border-radius: 20%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    transition: 0.5s ease;

    &:hover {
      cursor: pointer;
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -o-transform: scale(1.25);
    }

    &.selected {
      background-color: var(--secondary-color);
    }
  }
}

.note-info {
  font-weight: 600;
  font-size: 10px;
  color: #4c5151;
}

.string-info {
  fill: lightgray;
}

.disabled {
  color: #b1afaf;
}

.red {
  background-color: rgb(228, 58, 58);
  color: white;
}

.fretboard {
  position: relative;
  left: 24px;

  .tuning,
  .fretnum {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-transform: uppercase;
    color: lightgray;
    font-size: 10px;
  }

  .tuning {
    font-size: 12px;
  }

  .note {
    border-radius: 4px;
  }
}

.dropbtn {
  transition: 0.5s ease;
}

.dropbtn:hover,
.dropbtn:focus {
  cursor: pointer;
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}
