.container {
  display: flex;
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 1024px;

  .layers {
    width: 30%;

    .layers-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }

    #add-btn,
    #remove-btn {
      margin-left: 8px;
      margin-right: 8px;
      font-weight: 700;
      align-content: center;
      font-size: 24px;
    }

    .transpose-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
    }
  }

  .output {
    width: 70%;
    display: flex;
  }
}

.scale-info {
  min-height: 22px;
  display: flex;
  justify-content: space-between;
  width: 97%;
  margin-top: 24px
}

.scale-title {
  position: relative;
  left: 26px;
}



#list {
  list-style: none;
  margin-top: 12px;
  height: 150px;
  overflow: hidden;

  li.scale {
    padding: 5px;
    display: flex;
  }
}

.layer-label {
  flex: 1;
}

.selected {
  color: var(--secondary-color);
}

.edit-btn,
.delete-btn,
.visibility-btn,
#settings-btn {
  align-content: flex-start;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 700;
}

.note-info {
  font-weight: 600;
  font-size: 10px;
  color: #4c5151;
}

.disabled {
  color: #b1afaf;
}

.red {
  background-color: red;
  color: white;
}

.fretboard {
  position: relative;
  left: 24px;

  .tuning,
  .fretnum {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-transform: uppercase;
    color: lightgray;
    font-size: 10px;
  }

  .tuning {
    font-size: 12px;
  }

  .note {
    border-radius: 4px;
  }
}

td,
th {
  // border: 1px solid #ddd;
  padding: 0px 8px;
  text-align: center;
}