.header {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: sticky;
    top: 0;
    transition: top 0.5s; /* Transition effect when sliding down (and up) */
    justify-content: space-between;
    border-bottom: 1px solid var(--light-grey);
    background-color: var(--background-color);
    color: var(--font-color);

    &-title {
        width: 33%;

        .progress {
            display: flex;

            .progress-range {
                width: 65%;
                margin-left: 12px;
                align-self: center;
            }

            .progress-bubble {
                background: var(--secondary-color);
                color: white;
                font-size: 66%;
                padding: 2px 8px;
                border-radius: 3px;
                margin: 0 12px;
            }
        }
    }

    &-description {
        width: 60%;
    }

    &-actions {
        width: 7%;
        display: flex;
        flex-wrap: wrap;
    }

    &-tags-container {
        width: 60%;
        padding: 7px 15px;
        border-radius: 6px;
        height: 80px;

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: inline-block;
            font-size: 10px;
            min-height: 22px;

            li {
                display: inline-block;
                background: var(--primary-color);
                color: white;
                padding: 3px 5px 3px 10px;
                border-radius: 15px;
                margin-right: 5px;
                margin-bottom: 5px;

                span {
                    color: white;
                    margin-left: 5px;
                    background: var(--primary-color);
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: inline-flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s ease;

                    &:hover {
                        cursor: pointer;
                        -webkit-transform: scale(1.25);
                        -moz-transform: scale(1.25);
                        -ms-transform: scale(1.25);
                        -o-transform: scale(1.25);
                    }
                }
            }
        }
    }

    .header-menu {
        display: flex;
        justify-content: space-between;

        h2 {
            flex: 1;
        }

        #back-btn, #interchange-btn, #fifths-btn {
            margin-right: 0.5rem;
        }
    }

    #add-general-btn,
    #remove-general-btn,
    #tags-general-btn,
    #save-btn,
    #back-btn,
    #interchange-btn,
    #fifths-btn {
        margin-left: 8px;
        font-weight: 700;
        align-content: center;
        font-size: 24px;
        transition: 0.5s ease;

        &:hover {
            cursor: pointer;
            -webkit-transform: scale(1.25);
            -moz-transform: scale(1.25);
            -ms-transform: scale(1.25);
            -o-transform: scale(1.25);
        }
    }

    #mode-btn{
        margin-left: 6px;
        margin-right: 6px;
        font-weight: 700;
        padding: 8px;
        align-content: center;
        border-radius: 1rem;
        font-size: 18px;
        background-color: var(--primary-color);
        color: white;
        transition: 0.5s ease;
    }

    @media screen and (max-width: 1200px) {
        .header-title {
            font-size: 80%;
        }

        #add-general-btn,
        #remove-general-btn,
        #tags-general-btn,
        #back-btn,
        #save-btn,
        #interchange-btn,
        #fifths-btn, #mode-btn {
            font-size: 18px;
        }
    }
    @media screen and (max-width: 800px) {
        .header-title {
            font-size: 50%;
        }
        .add-study {
            font-size: 1rem;
        }
    }
}
