<div class="header">
    <div class="header-title">
        <div class="header-menu">
            <h2 ref="title" contenteditable="">Add Title....</h2> 
            <div>
                <span id="back-btn">&#128281;</span>
                <span id="interchange-btn">&#127756;</span>
                <span id="fifths-btn">&#128256;</span>
            </div>
        </div>
        
        <br>
        
        <div class="progress">
            <h4>Progress</h4>
            <div class="progress-range">
                <input type="range" min="0" max="100" value="0" class="slider" step="2.5" id="progress" ref="progress">
            </div>
            <output class="progress-bubble"></output>
        </div>
    </div>
    <div class="header-description">
        <textarea name="description" id="description" rows="3" ref="description">Description...</textarea>
    </div>

    <div class="header-tags-container hide">    <!-- default è nascosto! -->
        <ul id="tag-list"></ul>
        <input type="text" id="tag-input" placeholder="Type TAGS and press Enter...">
    </div>

    <div class="header-actions">
        <span id="add-general-btn">&#127381;</span>
        <span id="remove-general-btn">&#128701;</span>
        <span id="tags-general-btn">&#128204;</span>
        <span id="save-btn">&#128190;</span>
    </div>

</div>