<div class="header">
    <div class="header-title">
        <h2 ref="title" contenteditable=""> Title</h2>
        <br>
        <div class="progress">
            <h4>Progress</h4>
            <div class="progress-range">
                <input type="range" min="0" max="100" value="5" class="slider" id="progress" ref="progress">
            </div>
            <output class="progress-bubble"></output>
        </div>
    </div>
    <div class="header-description">
        <textarea name="description" id="description" rows="3" ref="description">Description...</textarea>
    </div>

    <div class="header-tags-container hide">
        <ul id="tag-list"></ul>
        <input type="text" id="tag-input" placeholder="Type TAGS and press Enter...">
    </div>

    <div class="header-actions">
        <span id="add-general-btn">&#127928;</span>
        <span id="remove-general-btn">&#128701;</span>
        <span id="tags-general-btn">&#128210;</span>
        <span id="back-btn">&#128281;</span>
    </div>

</div>