/* The Modal (background) */
#modal-fifths {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 40px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    width: 768px;

    /* The Close Button */
    .close-fifths {
        float: right;
        &:hover,
        &:focus {
            color: var(--font-color);
            text-decoration: none;
            cursor: pointer;
        }
    }

    .fifths-table,
    .comparison-table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        /* border: 1px solid #ddd; */

        th,
        td {
            text-align: left;
            padding: 4px 16px;
        }

        .fifths-header {
            font-weight: 700;
        }

        .table-primary {
            background-color: var(--primary-color) !important;
            color: white;
        }
        .table-secondary {
            background-color: var(--secondary-color) !important;
            color: white;
        }

        .notes-row {
            border-bottom: 1px solid var(--light-grey);
        }
    }

    .comparison-table {
        & tr {
            border-bottom: 1px solid #dddddd;
        }

        & tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        & tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        & tr:hover {
            background-color: #f2f2f2;
        }
    }
}

/* La media query è ereditata dalla modal-choice così come l'animazione...*/
/* Media Query for Tablets Ipads portrait mode */
@media only screen and (max-width: 767px) {
    .fifths-table {
        th,
        td {
            text-align: left;
            padding: 4px, 8px;
        }
    }
}
