<div class="modal-content">
    <div class="modal-header">
        <span class="close">&times;</span>
        <h2 ref="title">Modal Header</h2>
    </div>
    <div class="modal-body">
        <form>
            <label>Type: </label>
            <input type="radio" name="type" value="scale">Scale
            <input type="radio" name="type" value="arpeggio">Argeggio
            <br>

            <label>What to show: </label>
            <input type="radio" name="whatToShow" value="notes">Notes
            <input type="radio" name="whatToShow" value="degrees">Degrees
            <br>

            <label>Tuning </label>
            <select id="tuning" ref="tuning">
                <option>Choose the tuning...</option>
            </select>

            <br>

            <label>Root </label>
            <select id="root" ref="root">
                <option>Choose the root...</option>
            </select>
            <br>

            <label>Scale </label>
            <select id="scale" ref="scale">
                <option>Choose the scale...</option>
            </select>
            <br>

            <label>Arpeggio </label>
            <select id="arpeggio" ref="arpeggio">
                <option>Choose the arpeggio...</option>
            </select>
            <br>

        </form>
        <br>

        <h2 class="save">save</h2>

    </div>

</div>