<div class="modal-content">
    <div class="modal-header">
        <span class="close">&#128128;</span>
        <h2 ref="title">Modal Header</h2>
    </div>
    <div class="modal-body">
        <form>
            <h4>What to show:
                <span style="font-weight: 400;">
                    <input type="radio" name="whatToShow-choice" value="notes">Notes
                    <input type="radio" name="whatToShow-choice" value="degrees">Degrees
                </span>
            </h4>
            <br>

            <h4>Tuning </h4>
            <div id="opt-tuning" style="width: 100%; margin: 0.5rem 0 1rem 0;"></div>

            <h4>Root </h4>
            <div id="opt-root" style="width: 100%; margin:0.5rem 0 1rem 0;"></div>

            <h4>Scale </h4>
            <div id="opt-scale" style="width: 100%; margin:0.5rem 0 1rem 0;"></div>
        </form>
        <br>
        <h4 ref="action" class="save">save</h4>
    </div>
</div>