<div class="modal-content">
    <div class="modal-header">
        <span class="close">&#128169;</span>
        <h2 ref="title">Modal Header</h2>
    </div>
    <div class="modal-body">
        <form>
            <!-- <h4>Type: </h4>
            <input type="radio" name="type" value="scale">Scale
            <input type="radio" name="type" value="arpeggio">Argeggio
            <br> -->

            <h4>What to show:
                <span style="font-weight: 400;">
                    <input type="radio" name="whatToShow" value="notes">Notes
                    <input type="radio" name="whatToShow" value="degrees">Degrees
                </span>
            </h4>
            <br>

            <h4>Tuning </h4>
            <select id="tuning" ref="tuning">
                <option>Choose the tuning...</option>
            </select>

            <br>

            <h4>Root </h4>
            <select id="root" ref="root">
                <option>Choose the root...</option>
            </select>

            <br>

            <h4>Scale </h4>
            <select id="scale" ref="scale">
                <option>Choose the scale...</option>
            </select>

            <!-- <br>

            <h4>Arpeggio </h4>
            <select id="arpeggio" ref="arpeggio">
                <option>Choose the arpeggio...</option>
            </select> -->

        </form>
        <br>
        <h4 ref="action" class="save">save</h4>
    </div>
</div>