<div class="login-background">

    <div class="login-container">
        <form id="form" class="login-form">
            <h2 id="login-msg">!</h2>

            <div class="form-control">
                <label for="email">Email</label>
                <input type="text" id="email" placeholder="Enter email" />
                <small>Error message</small>
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="Enter password" />
                <small>Error message</small>
            </div>

            <br>

            <button class="login-enter-btn primary" type="button">Enter</button>
            <!-- <button class="login-enter-google-btn google" type="button">Enter with Google</button>
            <button class="login-enter-facebook-btn facebook" type="button">Enter with Facebook</button> -->

            <h4 id="register-msg"></h4>
        </form>
    </div>

</div>