#player {
    display: none;
    position: absolute;
    z-index: 10;
    text-align: center;
    top: 50%;
    left: 10%;
}

.player-header {
    cursor: move;
    padding: 10px;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.player-body {
    width: 300px;
    height: 160px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.player-play-btn,
.player-stop-btn {
    margin-left: 8px;
    transition: 0.5s ease;

    &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
        -o-transform: scale(1.25);
    }
}

.player-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90px;
    margin-bottom: 1rem;
    border: 1px solid var(--light-grey);
    background-color: var(--background-color);
    border-radius: 4px;

    .player-list-item {
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        width: 48%;
        height: 30px;
        background-color: var(--primary-color);
        color: var(--light-grey);
        padding: 0.25rem;
        border-radius: 8px;
        display: flex;
        justify-content: space-around;
        font-size: 75%;
    }

    .highligthed {
        background-color: var(--secondary-color);
        color: white;
    }
}
