/* l'elemento padre */
.my-select {
    text-align: left;
    color: var(--font-color);
    user-select: none;
    border-radius: 3px;
    background: var(--background-color);
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    position: relative;
    font-size: 12px;
    box-shadow: 2px 2px 2px var(--light-grey);
    border: 1px solid var(--light-grey);

    .my-select-value {
        display: inline-block;
        padding-left: 3px;
    }
    
    .my-select-arrow {
        transition: all 0.2s ease;
        position: absolute;
        right: 5px;
        top: 0px;
        color: var(--light-grey);
        font-size: 20px;
    }
    
    .my-select-panel {
        position: absolute;
        background: transparent;
        width: 100%;
        z-index: 9999;
        height: 220px;
        left: -1px;
        top: 26px;
        overflow: hidden;
        pointer-events: none;
    }
    
    .my-select-items {
        position: absolute;
        pointer-events: all;
        z-index: 9999;
        top: 0px;
        width: 100%;
        max-height: 200px;
        background: var(--background-color);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 2px 2px 2px var(--light-grey);
        transform: translate(0px, -200px);
        transition: 0.3s all ease-out;
        overflow-y: auto;
        border: 1px solid var(--light-grey);
        padding: 1px 4px;

        .item-header {
            font-size: 10px;
            font-weight: bold;
            color: var(--secondary-color);
            border-bottom: 1px solid var(--light-grey);
        }
    }
}
