@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 1024px;
}

.layers {
  width: 30%;
}

.output {
  width: 70%;
  display: flex;
}

.scale-info {
  min-height: 22px;
}

.scale-title {
  position: relative;
  left: 26px;
}

#list {
  list-style: none;
  margin-top: 12px;
}

#list li.scale {
  padding: 5px;
  display: flex;
}

.scale-txt {
  flex: 1;
}

.selected {
  background-color: coral;
  color: white;
}

.delete-btn,
.visibility-btn {
  align-self: flex-end;
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 700;
}

.note-info {
  font-weight: 700;
}