@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --font-color: black;
  --background-color: white;
  --primary-color: #626384; /* #30336b */
  --secondary-color: #30336b; /* #ecd92b */
  --light-grey: lightgrey;
  --detail: #666;
}

.dark-theme {
  --font-color: #aafdeb;
  --background-color: #444d63;
  --primary-color: #30336b;
  --secondary-color: #FFDC00;
  --light-grey: #c3c3c3;
  --detail: #fefefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

.hide {
  display: none;
}

/*  FORM ELEMENTS */
input[type=text],
textarea,
select,
button {
  width: 100%;
  background: var(--light-grey);
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

textarea {
  resize: vertical;
  max-height: 120px;
}

input[type=radio] {
  width: 24px;
  margin-bottom: 12px;
}

/*  RANGE SLIDER */
.slidecontainer,
.range-container {
  width: 100%;
  position: relative;
}

.slidecontainer {
  margin-bottom: 12px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: var(--light-grey);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--secondary-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--secondary-color);
  cursor: pointer;
}

.bubble {
  background: var(--secondary-color);
  color: white;
  font-size: 66%;
  padding: 2px 8px;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 22px;
  transform: translateX(-50%);
}

.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: VAR(--secondary-color);
  top: -1px;
  left: 50%;
}

/* -----    scrollbar  ----- */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-grey);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--contrast);
}